* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* fazer um root */

body {
    background-color: #e9e6d8;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a.active {
    border-bottom: 3px solid green;
}

/* HEADER */
.header {
    background-color: #2f6b45;
    color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
}

.header h1 {
    text-align: center;
    margin-bottom: 10px;
}

.header p {
    text-align: center;
    margin-bottom: 20px;
}

#buttonAdd {
    text-align: center;
}

.btnAdd {
    background-color: #1f4d32;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
/* transformar o botao em uma cor mais clara ao passar o mouse por cima do botao */

.search {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search span {
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #1f4d32;
    text-align: center;
    color: white;
}

/* CARDS */
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #dcd8c7;
    padding: 30px;
    border-radius: 15px;
    width: 200px;
    text-align: center;
}

.card i {
    font-size: 40px;
    margin-bottom: 10px;
}

/* RESPONSIVO */
@media(max-width: 900px){
    .container {
        flex-direction: column;
        align-items: center;
    }
}
