* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #01401c, #025928);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 70vw;
    height: 670px;
    background-color: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.308);
}

/* Seção da Imagem */
.image-section {
    flex: 1;
    background-color: #266c44; 
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Seção do Formulário */
.form-section {
    flex: 1;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header h1 {
    font-size: 32px;
    font-weight: 700;
    color: #1E293B;
    margin-bottom: 8px;
}

.form-header p {
    font-size: 14px;
    color: #64748B;
    margin-bottom: 32px;
}

.form-header a {
    color: #01401c;
    text-decoration: none;
    font-weight: 600;
}

/* Inputs */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #334155;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    background-color: #F8FAFC;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.input-group input:focus {
    border-color: #01401c;
}

.input-group input::placeholder {
    color: #94A3B8;
}

/* Botão */
.btn-register {
    width: 100%;
    height: 48px;
    background-color: #01401c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.btn-register:hover {
    background-color: #266c44;
}